---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// @import "custom/customImport.scss";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// @import "custom/customOverride.scss";
