/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #38bdf8;
  --ifm-color-primary-dark: #1bb3f7;
  --ifm-color-primary-darker: #0caef6;
  --ifm-color-primary-darkest: #0791ce;
  --ifm-color-primary-light: #55c7f9;
  --ifm-color-primary-lighter: #64ccfa;
  --ifm-color-primary-lightest: #90dafb;
}

[data-theme="dark"] {
  --ifm-color-primary: #38bdf8;
  --ifm-color-primary-dark: #1bb3f7;
  --ifm-color-primary-darker: #0caef6;
  --ifm-color-primary-darkest: #0791ce;
  --ifm-color-primary-light: #55c7f9;
  --ifm-color-primary-lighter: #64ccfa;
  --ifm-color-primary-lightest: #90dafb;
}
